@tailwind base;
@tailwind components;
@tailwind utilities;

@import './classes';
@import './variables';

:root{
  --tw-bg-opacity: 1;
}

html{
  font-size: 20px;
}

body, #root{
  height: 100vh;
  width: 100vw;
  background: #12192f;
  overflow: auto;
}


*{
  box-sizing: border-box;
}

.homepage{
  background-color: rgb(15, 23, 42);
}

.is-dragover{
    background-color: rgba(255, 255, 255, 0.1);
}

.anim-in{
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

